*{
    margin: 0;
    padding: 0;
}
.row{
    margin: 10px auto;
    width: 1080px;
}
.txtsearch{
    position: absolute;
    top:1px;
    width: 400px;
}
.btnsearch{   
    position: absolute;
    top:2px;
    left: 420px;
}
.bg-grey {
    background-color: #3f3f3fe1 !important;
}
.carousel-inner img {
    width: 1080px;
    height: 300px;
}
.img-product{
    width: 330px;
    height: 330px;
    overflow: hidden;
    vertical-align: middle;
    border: 8px solid #ebebeb;
}
.img-product img{
    width: 320px;
    height: 320px;
}
.img-product img:hover{
    position: relative;
    left:-15px;
    top:-15px;
    width: 350px;
    height: 350px;
}
.wrap-addcard h5, .wrap-addcard span{
    color: #000;
}
.wrap-addcard span:hover, .wrap-addcard h5:hover{
    color: crimson;
    font-weight: bold;
}
.btn-add-item a:hover{
    background: dimgray;
}