
/** Khung thanh srollbar */
::-webkit-scrollbar
{
    background: #fff;
    width: 9px;
}	

/** Thanh srollbar */
::-webkit-scrollbar-thumb
{
    background: #3f3f3f15;
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover
{
    background: #007bffbd;
}

*{
    margin: 0;
    padding: 0;
}
.row{
    margin: 10px auto;
    width: 1080px;
}
.nav-item{
    margin: 0 23px;
}
.nav-item a{
    transition: 1.25s;
}
.nav-item a:hover{
    color: crimson;
}
.txtsearch{
    position: absolute;
    top:1px;
    width: 400px;
}
.btnsearch{   
    position: absolute;
    top:2px;
    left: 420px;
}
.btnsearch img{
    width: 33px;
    height: 33px;
}
.bg-grey {
    background-color: #3f3f3fe1 !important;
}
.carousel-inner img {
    width: 1080px;
    height: 250px;
}
.container{
    position: relative;
    left:-15px;
    top:-15px;
}
.wrap-border-content-center{
    position: relative;
    left:15px;
    width: 300px;
}
.img-product{
    width: 300px;
    height: 300px;
    overflow: hidden;
    vertical-align: middle;
    border: 8px solid #ebebeb;
    transition: 0.65s;
}
.img-product:hover{
    border: 8px solid #007bffab;
}
.img-product img{
    width: 285px;
    height: 285px;
    transition: 1s;
}
.img-product img:hover{
    /* position: relative;
    left:-15px;
    top:-15px;
    width: 320px;
    height: 320px; */
}
.row-Art-Tools{
    height: 380px;
    position: relative;
    top: 8px;
    bottom: 8px;
}

.wrap-addcard h5, .wrap-addcard span{
    color: #000;
    transition: 0.5s;
}
.wrap-addcard span{
    font-weight: 600;
}
.sold-out-item{
    color: #fff;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-left: 100px;
}
.sold-out-item:hover{
    color: black;
    line-height: 25px;
    background-color: crimson;
    opacity: 0.95;
    border: 2.5px solid #16171A;
}
.wrap-addcard span:hover, .wrap-addcard h5:hover{
    color: crimson;
}
.btn-add-item a:hover{
    background: dimgray;
}
.breadcrumb-item a{
    transition: 1.5s;
}
.breadcrumb-item a:hover{
    color: crimson;
}
/* Blog */
.mb-24 {
    margin-bottom: 1.5rem;
}